streamlit
networkx
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langgraph

sentence-transformers
chromadb

spacy==3.7.5
thinc==8.2.4

einops
numpy==1.26.4
