# Web / UI
streamlit
networkx
python-dotenv

# LangChain + LangGraph
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langgraph

# Embeddings & vector store
sentence-transformers
chromadb

# NLP
spacy==3.7.5
thinc==8.2.4

# Core dependencies
einops
numpy==1.26.4
